

body {
   
   
   background-image: url("pattern.jpg");
   background-position: top left;
   animation: 5s infinite;
   background-size: 10%
   
 }
 
  h1 {
    color: white
 } 
 
 h2 {
   color: orangered
} 
 
 p {
    color: white
 }
 